* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(61, 167, 167);
    font-family: monospace;
}

.mysf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 20px;
    overflow: hidden;
    margin-top: 20px;
}


.title {
    font-size: 27px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-field {
    width: 70%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    width: 100%;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.btn {
    width: 150px;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.btn:hover {
    background-color: #46cac4;
}

span {
    width: 67%;

    color: black;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding: 0;
    width: fit-content;
    margin: auto;
    font-weight: bolder;
    font-size: 35px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
    height: 80px;
    width: 100%;
}

select.add {
    width: 187px;
}

.navbar button {
    font-size: 15px;
    font-weight: bold;
    background-color: aqua;
    border: 0;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.navbar button:hover {
    background-color: white;


}

.addclassbtnbox {
    /* gap: 2px; */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.addclassbtnbox .btn1 {
    margin-top: 10px;
    width: 78px;
    margin-bottom: 10px;

    border-radius: 6px;
    border: none;
    padding: 10px;
}

.addclassform,
.stdform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 20px;
    margin-top: 20px;
    border: 1px solid black;
    width: 90%;
    margin: 30px auto;
    box-shadow: 0px 0px 4px 6px #00000038;
}

input.file {
    margin-left: 81px;
}

.addclassform>div {
    margin-top: 10px;
}

select.drop {
    width: 187px;
}

.btnstd {
    width: 100%;
    /* justify-content: center; */
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

input.btn2 {
    margin-top: 10px;
    width: 96px;
    margin-bottom: 10px;

    border-radius: 6px;
    border: none;
    padding: 10px;
}

.stdform>div {
    margin-top: 10px;
}

.addclassform>div>input {
    padding: 10px;
    border-radius: 10px;
    border: 0px;
}

.addclassform>div>select {
    padding: 10px;
    border-radius: 10px;
    border: 0px;
}

.stdform>div>input {
    padding: 10px;
    border-radius: 10px;
    border: 0px;
}

.stdform>div>select {
    padding: 10px;
    border-radius: 10px;
    border: 0px;
}

.stdform h1 {
    font-size: 27px;
    margin-bottom: 10px;
    margin-top: 10px
}

.allclassestitle {
    font-size: 27px;
    text-align: center;
    margin: 10px;
}

.allclasstable {
    width: 99%;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    font-size: large;
    background-color: #46cac4;
}


table tr {
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}

td button {
    background: transparent;
    border: 0px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

td button:hover {
    background-color: aqua;
}

.attendanceheading {
    font-size: 27px;
    text-align: center;
    margin: 10px;
}

.search {
    text-align: center;
}

.search input {
    padding: 10px;
    border: 0px;
}

.search button {
    border: 0px;
    padding: 10px;

}

.card {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 30px auto;
    border: 2px solid black;

}

.image {
    width: 100px;
    /* margin-bottom: 10px; */
    margin: 10px auto;
}

.image img {
    width: 100%;
}

.data {
    width: 100%;
    margin-bottom: 10px;
}

.name,
.rollno {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.present {
    width: 100%;
    margin-top: 10px;
    height: 30px;
}

.mybtn {
    background: transparent;
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 620px) {
    div.timing {
        display: flex;
        flex-direction: column;
    }
}